<div class="container">

<%= render "shared/banner",
  title: "Let's start",
  tagline: "Upload a media for your game." %>

  <%= simple_form_for @content do |f| %>
    <%= f.input :media, label: "Upload Media (Max 50MB for videos, 5MB for images)", as: :file, required: true %>

    <%= f.input :description, label: "Description", as: :text, placeholder: "Describe your game" %>

    <%= custom_form_button("Publish my screenshot", color: "primary") %>
  <% end %>
</div>
