<% content_for :auth_title do %>
  Change your password
<% end %>

<% content_for :auth_subtitle do %>
  Set a new password for your account
<% end %>

<% content_for :auth_content do %>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "needs-validation" }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-group mb-4">
      <%= f.input :password,
                  label: "New password",
                  required: true,
                  autofocus: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { 
                    class: "form-control",
                    autocomplete: "new-password" 
                  } %>
    </div>

    <div class="form-group mb-4">
      <%= f.input :password_confirmation,
                  label: "Confirm your new password",
                  required: true,
                  input_html: { 
                    class: "form-control",
                    autocomplete: "new-password" 
                  } %>
    </div>

    <div class="d-grid gap-2">
      <%= f.button :submit, 
                  "Change password", 
                  class: "custom-btn btn-danger",
                  data: { 
                    disable_with: '<i class="fas fa-spinner fa-spin"></i> Updating...'
                  } %>
    </div>

    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
<% end %>

<%= render "devise/shared/auth_form" %>
