<%# Main Navigation %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 2000;">
  <div class="container">
    <%# Brand %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 class="h4 mb-0">Game Roaster</h1>
    <% end %>

    <%# Toggle Button %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <%# Navigation Items %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-links me-auto">
        <li class="nav-item">
          <%= link_to "Browse Games", contents_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add a Game", new_content_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>

      <%# User Menu %>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag "https://api.dicebear.com/7.x/pixel-art/svg?seed=#{current_user.username}", class: "avatar me-2", alt: "User avatar" %>
              <span class="d-none d-md-inline"><%= current_user.username %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="z-index: 2001;">
              <li><%= link_to "Profile", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "custom-btn btn-warning ms-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
